<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top myNavbarStyle" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SHARE YOUR FRIENDS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (Request.IsAuthenticated)
                {
                @Html.ActionLink("15 Facts for Programmers", "Index", "Slider", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
  
    <div class="navbar navbar-default navbar-fixed-bottom myNavbarStyle">
        @Html.ActionLink("About Us", "Index", "AboutUs", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Contacts", "Contacts", "AboutUs", new { area = "" }, new { @class = "navbar-brand" })
        
        <div class="myCopyRight pull-right">
            <!--add by nasko read from web site :хттп://ввв.hitwebcounter.com/webcounter.php  -->
           
             @*<!-- hitwebcounter Code START --> count every clic on all web 
            <em>Number of visitor:                                       </em>

            <a href="http://www.hitwebcounter.com" target="_blank">
                <img src="http://hitwebcounter.com/counter/counter.php?page=6559752&style=0035&nbdigits=4&type=page&initCount=0" title="Free track counters" Alt="Free track counters" border="0">
            </a>                                        <br />
            <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Lovely Counter"
                                         target="_blank" style="font-family: Arial, Helvetica, sans-serif;
                                        font-size: 10px; color: #000000; text-decoration: none ;">

            </a>

            <!--edn add by nasko-->*@

            <!-- hitwebcounter Code START -->
            <em>Measure Website Visitors                                        </em>
            <a href="http://www.hitwebcounter.com" target="_blank">
                <img src="http://hitwebcounter.com/counter/counter.php?page=6559845&style=0035&nbdigits=5&type=ip&initCount=0" title="web page hit counters codes Free" Alt="web page hit counters codes Free" border="0">
            </a>                                        <br />
            <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Measure Website Visitors"
                                         target="_blank" style="font-family: Arial, Helvetica, sans-serif;
                                        font-size: 11px; color: #000000; text-decoration: none ;">
                
            </a>



            &copy; @DateTime.Now.Year - Topcho Crew
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
