<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slider")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top myNavbarStyle" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SHARE YOUR FRIENDS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @if (Request.IsAuthenticated)
                {
                @Html.ActionLink("15 Facts", "Index", "Slider", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
  
    <div class="navbar navbar-default navbar-fixed-bottom myNavbarStyle">
        @Html.ActionLink("About Us", "Index", "AboutUs", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Contacts", "Contacts", "AboutUs", new { area = "" }, new { @class = "navbar-brand" })
        <div class="myCopyRight pull-right">
            &copy; @DateTime.Now.Year - Topcho Crew
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
