@model Blog.Models.Article
@using Microsoft.AspNet.Identity

@{
    ViewBag.Friends_Name = "Details";
}

<div class="container">
    <article>
        <header>

            <h2>
                @Model.Friends_Name
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
       <div class="pull-left">
                            @foreach (var tag in Model.ProgrammingLanguage)
                            {
                                @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                       <small class="author pull-right">
        @*
     <em>Link to GitHub profile:                                         </em>
     <a href="https://github.com/radevatns" target="_blank">
     <img src="~/Content/images/githubLogo.jpg width="100" height="100" title="click here to viwe GitHub profile" Alt="" border="0">
    </a><!--ADD BY NASKO-->
        *@
                            --author @Model.Author.FullName
                           @{<!--
                               var imgUrl2 = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();-->
                               var imgUrl2 = Url.Content("~/Content/images/profile/" + Model.Author.Email  + ".png") + "?time=" + DateTime.Now.ToString();
                           }
                           <img src="@imgUrl2" height="60" width="55" />
                        </small><br/><br /><br />
        <footer class="pull-right">
            @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name) || User.IsInRole("Moderator") || User.IsInRole("Editor"))
            {
            @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
            }

            @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
        </footer>
    </article><br />
   <hr />
    <p class="myComments">Comments:</p>
    @foreach (var comment in Model.Comments)
    {
        <p>
            @comment.Content
        </p>
        <small class="author col-md-offset-2 pull-left"><!--edit by nasko-->
            
            --author @comment.Author.FullName
                @{ <!-- var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                -->
                    var imgUrl = Url.Content("~/Content/images/profile/" + comment.Author.Email + ".png") + "?time=" + DateTime.Now.ToString();
                }
                <img src="@imgUrl" height="60" width="55" />
            
        </small>
        <br />
        <br />
        <br />
        if (User.IsInRole("Admin") || comment.IsAuthor(User.Identity.Name) || User.IsInRole("Moderator") || User.IsInRole("Editor"))
        {
            @Html.ActionLink("Edit", "Edit", "Comment", new { @id = comment.Id }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Delete", "Delete", "Comment", new { @id = comment.Id }, new { @class = "btn btn-danger btn-xs" })
        }
        <br />
        <br />
    }
</div><br />

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-sm-10 center-block">
                @Html.TextArea("Content", "", new { @class = "form-control", @rows = "5" })
            </div>
        </div>
            <br />
            <div class="form-group" method="">
                <div class="col-sm-4 col-sm-offset-0 pull-left">
                    <input type="text" name="ArticleId" style="display:none" value="@Model.Id" />
                    <input type="submit" value="Post Comment" class="btn btn-success" />
                </div>
            </div>
    }
}
<hr />
