@model List<Blog.Models.Article>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ListUserArticle";
}
<div class="container">
    <div class="row">
        @foreach (var article in Model)
        {
            <div class="col-sm-6">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Friends_Name, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @article.Content
                    </p>
                    <footer>
                        <div class="pull-left">
                            @foreach (var tag in article.ProgrammingLanguage)
                            {
                                @Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                        <small class="author pull-right">
                            --author @article.Author.FullName
                            @{<!--var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetId() + ".png") + "?time=" + DateTime.Now.ToString();
                            -->
                                var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.Name + ".png") + "?time=" + DateTime.Now.ToString();
                            }
                            <img src="@imgUrl" height="50" width="45" />
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<hr />